<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/blog.css' %}">

<!--    Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark" style="background-color:black;" >
        <div class="container">
          <a class="navbar-brand " href="{% url 'postList' %}">BlazingPistons.</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="border-color:white;"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" style="font-family:'Oswald',sans-serif;font-size:1.5em;" href="{% url 'postCreate' %}">Write</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family:'Oswald',sans-serif;font-size:1.5em;" href="{% url 'postDrafts' %}">Drafts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family:'Oswald',sans-serif;font-size:1.5em;" href="{% url 'logout' %}">LogOut</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" style="font-family:'Oswald',sans-serif;font-size:1.5em;" href="{% url 'login' %}">LogIn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family:'Oswald',sans-serif;font-size:1.5em;" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>

   {% block content %}

   {% endblock %}

<!--    BootStrap JQuery before BootStrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">

    </script>

  </body>
</html>